@using LY.Web.Models;
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <hr />
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <input asp-for="Email" class="col-md-6 form-control" value="test@qq.com"/>
        <span asp-validation-for="Email" class="col-md-4 text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <input asp-for="Password" class="col-md-6 form-control" value="test@qq.com"/>
        <span asp-validation-for="Password" class="col-md-4 text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <input asp-for="ConfirmPassword" class="col-md-6 form-control" />
        <span asp-validation-for="ConfirmPassword" class="col-md-4 text-danger"></span>
    </div>
    <div class="form-group">
        <div asp-validation-summary="All" class="col-md-offset-2 text-danger"></div>
        <button type="submit" class="col-md-offset-2 btn btn-default">Register</button>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
