@{
    ViewData["Title"] = "About";
}
<style>
    xxbase: #f938ab;
    table {
        position:absolute;
        top:500px;
    }
    table td{
       border:1px solid gray;
    }
</style>

<table>
    <tr><td>1</td><td>2</td><td>3</td></tr>
</table>

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

